.submit-button {
  display: flex;
  justify-content: center;
}

.submit-button input[type=file] {
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  position: absolute;
  font-size: 90px;
}

.btn-upload {
  background-color: cornflowerblue;
  color: #000;
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: bold;
}

#canvas {
  border: 2px solid #ddd;
  cursor: text;
}

.canvas-div {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
}
